@font-face{font-family:cute;font-style:normal;font-weight:400;src:url(cute.ttf)}
body{font-family:cute}
.container{margin:20px auto}
.container h1{text-align:center;margin:auto;font-size:50px;letter-spacing:2px}
.container .card{border-radius:15px;background:#000;box-shadow:0 0 20px #000;width:300px;max-width:90%;height:auto;min-height:300px;margin:30px auto;padding:10px 20px;color:#fff;line-height:30px}
.container .next{margin:auto;display:block;outline:none;border:none;text-align:center;border-radius:25px;background:#000;color:#fff;font-family:cute;font-size:30px;padding:5px 40px;box-shadow:0 0 20px #000;cursor:pointer}
.container .card .text{font-size:15px;letter-spacing:2px;font-family:tahoma}
.container .setting .float-right{float:right;width:50%}
.container .setting .float-left{float:left;width:50%}
.container .setting h2{text-align:center;font-size:30px;letter-spacing:2px}
.container .clear{clear:both}
.container .colors{text-align:center;padding:0 30px}
.container .colors span{width:20px;height:20px;cursor:pointer;display:inline-block;border-radius:100%;margin:0 5px}
.container .copyright{letter-spacing:2px;font-size:20px;text-align:center}
.turquoise{background:#1abc9c;box-shadow:0 0 20px #1abc9c}
.emerald{background:#2ecc71;box-shadow:0 0 20px #2ecc71}
.peterriver{background:#3498db;box-shadow:0 0 20px #3498db}
.amethyst{background:#9b59b6;box-shadow:0 0 20px #9b59b6}
.wetasphalt{background:#34495e;box-shadow:0 0 20px #34495e}
.greensea{background:#16a085;box-shadow:0 0 20px #16a085}
.nephritis{background:#27ae60;box-shadow:0 0 20px #27ae60}
.belizehole{background:#2980b9;box-shadow:0 0 20px #2980b9}
.wisteria{background:#8e44ad;box-shadow:0 0 20px #8e44ad}
.midnightblue{background:#2c3e50;box-shadow:0 0 20px #2c3e50}
.sunflower{background:#f1c40f;box-shadow:0 0 20px #f1c40f}
.carrot{background:#e67e22;box-shadow:0 0 20px #e67e22}
.alizarin{background:#e74c3c;box-shadow:0 0 20px #e74c3c}
.clouds{background:#ecf0f1;box-shadow:0 0 20px #ecf0f1}
.concrete{background:#95a5a6;box-shadow:0 0 20px #95a5a6}
.orange{background:#f39c12;box-shadow:0 0 20px #f39c12}
.pumpkin{background:#d35400;box-shadow:0 0 20px #d35400}
.pomegranate{background:#c0392b;box-shadow:0 0 20px #c0392b}
.silver{background:#bdc3c7;box-shadow:0 0 20px #bdc3c7}
.asbestos{background:#7f8c8d;box-shadow:0 0 20px #7f8c8d}